In [8]:
import pandas as pd

In [10]:
pd.read_csv('../annotations/surf.txt', sep='\t', header=None)

,0,1,2,3,4,5,6,7,8
0,default,NaN,00:02:26.801,146.801,00:02:27.044,147.044,00:00:00.243,0.243,a